.pointer{
    cursor: pointer !important;
}

.categories__accordion .card-heading a {
    font-size: 1rem;
}
.categories__accordion .card-heading a:hover {
    text-decoration: underline;
}

.categories__accordion .card-body li label:hover {
    text-decoration: underline;
}

.sidebar__sizes .size__list label, .sidebar__color .size__list label{
    font-size: 1rem;

}

.product__hover{
    z-index: 2;
}

.overlay__redirect{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
}

.sidebar__filter a {
    padding: 5px 16px 5px 16px;
    letter-spacing: 0px;
	position: unset;
	bottom: 0px;
    margin-bottom: 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.filter-range-wrap .range-slider .price-input:after {
	left: 130px
}

.filter-range-wrap .range-slider .price-input input {
	max-width: 37%;
}

.hidden {
    display: none !important;
}

.sidebar__color #see-more {
    color: grey;
    text-decoration: underline;
}

#categoryFilterItems{
    list-style-type: none;
}

.categories__accordion .card-body li:before {
    content: unset;
}

.product__item__text h6 a, .product__item__text .product__price {
    font-size: 1.3rem;
}

